@page "/Hora/Index"
@using SkyReserves.Models
@using SkyReserves.Service
@rendermode InteractiveServer
@inject HoraService horaService
@inject NavigationManager navigation
<link rel="stylesheet" href="/Estilos/ClaseV.css" />

<PageTitle>Horas de Vuelos</PageTitle>

<div class="container mt-4">
    <div class="header-buttons d-flex justify-content-end align-items-center mb-4">
        <a href="/AdminDashboard" class="btn btn-outline-primary bi bi-arrow-90deg-left text-nowrap me-3 common-btn w-30">
            Volver
        </a>
        <a href="/logout" class="btn btn-outline-danger text-nowrap common-btn w-30">
            Cerrar sesi&oacute;n
        </a>
    </div>
</div>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-black text-center">
            <h5><strong>Horas de Vuelos</strong></h5>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="filtro" class="form-label"><strong>Filtrar por:</strong></label>
                    <InputSelect id="filtro" class="form-select" @bind-Value="filtro">
                        <option value="id">ID</option>
                        <option value="Descripcion">Descripci&oacute;n</option>
                    </InputSelect>
                </div>

                <div class="col-md-6 d-flex align-items-end">
                    <div class="input-group">
                        <InputText id="valorFiltro" @bind-Value="valorFiltro" class="form-control" placeholder="Buscar" />
                    </div>
                </div>
            </div>

            <a href="Hora/Create" class="btn btn-success bi bi-plus-square-fill mt-3 w-30"> Crear</a>
            <button @onclick="Buscar" class="btn btn-secondary bi bi-search mt-3 w-30" type="button"> Buscar</button>

            <table class="table table-hover mt-3">
                <thead class="table table-striped text-center text-black">
                    <tr>
                        <th>HoraID</th>
                        <th>Descripci&oacute;n</th>
                        <th>Hora de Inicio</th>
                        <th>Hora de Fin</th>
                        <th>Duraci&oacute;n (horas)</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hora in horas)
                    {
                        <tr>
                            <td class="text-center">@hora.HoraID</td>
                            <td class="text-center">@hora.Descripcion</td>
                            <td class="text-center">@hora.HoraInicio</td>
                            <td class="text-center">@hora.HoraFin</td>
                            <td class="text-center">@hora.Duracion</td>
                            <td class="text-center">
                                <a href="/Hora/Edit/@hora.HoraID" class="btn btn-outline-dark bi bi-pencil-square"></a>
                            </td>
                            <td class="text-center">
                                <a href="/Hora/Delete/@hora.HoraID" class="btn btn-outline-dark bi bi-trash"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public List<Hora> horas = new List<Hora>();
    public string filtro = "id";
    public string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
       
        horas = await horaService.Listar(a => true);
    }

    public async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            switch (filtro)
            {
                case "id":
                    if (int.TryParse(valorFiltro, out int id))
                    {
                        horas = await horaService.Listar(w => w.HoraID == id);
                    }
                    break;

                case "Descripcion":
                    horas = await horaService.Listar(w => w.Descripcion.ToLower().Contains(valorFiltro.ToLower()));
                    break;
            }
        }
        else
        {
            horas = await horaService.Listar(a => true);
        }
    }
}
